{% extends 'main.html' %}

{% block content %}
    <h3>List of Projects</h3>
    <table class="projects">
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Votes</th>
            <th>Ratio</th>
            <th>Created at</th>
            <th>Edit Link</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{project.id}}&emsp;</td>
                <td><a href="{% url 'project' project.id%}">{{ project.title }}</a>&emsp;</td>
                <td>{{ project.votes_total }}&emsp14;</td>
                <td>{{ project.votes_ratio }}&emsp;</td>
                <td>{{ project.created }}&emsp;</td>
                <td><a href="{% url 'update-project' project.id%}">Edit</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}