{% extends 'main.html' %}
{% load static %}
{% block content %}
    <h1>{{ project.title }}</h1>
    <img style="max-width: 500px;" src="{{ project.featured_image.url }}" alt="">
    <ul>
        <li>ID: {{project.id}} </li>
        <hr>
        <li>
            {% for tag in project.tags.all %}
                <span style="border: 1px solid blue;">{{ tag }}</span>
            {% endfor %}
        </li>
        <hr>
        <li>Total votes: {{ project.votes_total }}</li>
        <li>Votes Ratio: {{ project.votes_ratio }}</li>
    </ul>
{% endblock content %}